 {%load static%} 
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3> О нас</h3>
          <p>SunDrums – самая посещаемая школа африканских барабанов и этнической перкуссии в России.  
За 10 лет существования наши мастер- классы и тренинги посетили более 5000 человек. Ученики и выпускники SunDrums играют в этнических коллективах, выступают сольно, успешно продолжают постигать прочие стороны музыкального мира. 

Наша цель- поделиться любовью к этническим барабанам, развивать таланты людей и объединять их, обучить навыкам игры, древним и современным ритмам.
Так же, Sundrums – крупнейшего в центральном регионе России фестиваля этнической и африканской музыки SunDrums Fest и образовательного барабанного  лагеря для взрослых SunCamp.

</p>
        </header>

        <div class="row about-cols">

          <div  class=" col-md-4 wow fadeInUp">
            <div style="border-radius: 600px; " class="">
              <div class="img">
                <img style="border-radius: 350px; margin-top: 50px;"  height="150px" width="350" src="{% static 'img/boos_ava.png'%}" alt="" class="img-fluid">
                <div class="icon text-center"><img style="border: 6px solid #fff; margin-top: -40px; background-color: #fff; border-radius: 50%;" height="50" width="50" src="{%static 'img/logo_boss.png'%}" alt=""></div>
              </div>
              <h2 class="title"><a href="#"></a></h2>
              <p>
               
              </p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <!-- <img src="{% static 'img/about-plan.jpg'%}" alt="" class="img-fluid">-->
                  <!--<div class="icon"><i class="ion-ios-list-outline"></i></div>-->
              </div>
              <h2 class="title"><a href="#"></a></h2>
              <p>
                {{boss_say.description|safe}}
              </p>
            </div>
          </div>

      

        </div>

      </div>
    </section><!-- #about -->