{%load static%}  
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer">
            <h3><img height="40px" src="{% static 'img/logo.png'%}"></h3>
            <p>Играть - легко!</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Тут будут все основные сылки по сайту</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="/">Главная</a></li>
            
            </ul>
            {% for Post_categoriesmass in Post_categoriess %}
            <li class="menu-has-children"><a href="{% url 'one_post' Post_categoriesmass.id %}">{{Post_categoriesmass.name}}</a>
             <ul>
              {% for post in Post_categoriesmass.post.all%}
              <a href="{% url  'one_post_simple' post.id %}">{{post.name}}</a><br />
              {%endfor%}
            </ul>
           {%endfor %} 
             
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>свяжитесь с нами</h4>
            <p>
              {{adres.name_rus}} <br>
             
               <br>
              <strong>Телефон</strong> <a href="tel:+{{telefon.name_rus}}">{{telefon.name_rus}}</a><br>
              <strong>Email:</strong> {{email.name_rus}}<br>
            </p>

            <div class="social-links">
{% for socbuttonmass in socbuttons %}
<a href="{{socbuttonmass.link}}" >{{socbuttonmass.icon|safe}}</a>
{%endfor %}
            </div>

          </div>

        

        </div>
      </div>
    </div>

    
      </div>
    </div>
  </footer><!-- #footer -->