{%load static%}
  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="" class="pull-left">
        <a href="/" class="scrollto">
      
        
            <!--img  src="{% static 'img/header3.png'%}"></a>-->
        <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/"><img style="margin-top:-7px;" height="45px"   src="{% static 'img/logo.png'%}" alt="" title="" /></a>
      </div>

     
     <!-- +настраиваемое меню -->
      <nav id="nav-menu-container">
        <ul class="nav-menu">
         
       <!-- menu -->  
          <li class=""><a style="color: #FCD362;" href="/">Главная</a></li>
          
 



         
          {% for Post_categoriesmass in Post_categoriess %}
            <li class="menu-has-children"><a style="color: #FCD362;"   style="font-size: 8pt;" href="{% url Post_categoriesmass.slug  %}">{{Post_categoriesmass.name}}</a>
             <ul>
              {% for post in Post_categoriesmass.post.all%}
              <li><a  href="{% url  Post_categoriesmass.slug  post.slug %}">{{post.name}}</a></li>
              {%endfor%}
            </ul>
           {%endfor %} 
           
           <li class=""><a style="color: #FCD362;" href="tel:+7-903-505-66-85"><i  class=" font_size_22 fas fa-phone-volume"></i></a></li>
          </li>   
        </ul>
     <!-- - настраиваемое меню -->  
        
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->