{%extends "index_for_posts.html"%}
{%load static%}
{% block content %}
{%include "header.html"%}
  <main id="main">
  <br /><br /><br /><br /><br />
  
  <!--Breadcrumbs-->
   <section>
       <div class="contaier">
           <div class="row">
               <div class="col-md-12">
               <ol class="breadcrumb">
               <li><a href="/">Главная /&nbsp; </a></li>
               <li><a href="{% url name_for_categories.slug  %}">&nbsp;{{name_for_categories.name}}&nbsp;</a></li>
               <li class="active"> / {{Post_one.name}}</li>
               </ol>
               </div>
           </div>
       </div>
   </section>
  <!--Breadcrumbs-->
  
  
  
  
  
  
  
  
  
  <!--<meta content="{{Post_one.descrioptions_for_seo}}"  name="description">-->
    <!--==========================
      Portfolio Section
    ============================-->
<section style="" id="call-to-action2" class="wow fadeIn">
<div  class="container">
<div class="row">
 
<div class="col-sm-3 col-sm-12"><br />
<br /><br /><br /><p><h1>{{Post_one.descrioptions_for_seo}}</h1></p> {{Post_one.description|safe}}</div>
</div>
</div>
</section>
{%include "form_contact_us.html"%} 
  </main>
{%include "footer.html"%}
{% endblock %}