{%extends "index.html"%}
{%load static%}
{% block content %}
{%include "header.html"%}
  <main id="main">
<br /><br /><br /><br /><br /><br /><br /><br />
<!--Breadcrumbs-->
   <section>
       <div class="contaier">
           <div class="row">
               <div class="col-md-12">
               <ol class="breadcrumb">
               <li><a href="/">Главная /&nbsp; </a></li>
               <!--<li><a href="">&nbsp;&nbsp;</a></li>-->
               <li class="active"> &nbsp; {{tipe_product_one.name}}&nbsp;&nbsp;</li>
               </ol>
               </div>
           </div>
       </div>
   </section>
  <!--Breadcrumbs-->
<div class="posts_and_video ">
<section style="" id="call-to-action2" class="wow fadeIn ">
<div  class="container">
<div class="row">
<div class="col-sm-3 col-sm-12">
{% if product_post.name %}
  <p><h1>{{tipe_product_one.name}}</h1></p>
  {%endif%}
    
  




 {{tipe_product_one.info_product|safe}}
  {% if product_post.name %}
  {{tipe_product_one.name}}
  {%endif%}
   {% if product_post.video_link%}
    {{tipe_product_one.video_link}}
   {%endif%}

</div>
</div>
</div>
</section>
</div>
<br />
<br /><br /><br /><br /><br /><br />
{%include "write_us_wiget.html"%} 
  </main>
{%include "footer.html"%}




{% endblock %}