{%extends "index.html"%}
{%load static%}
{% block content %}
{%include "header.html"%}
  <main id="main">

<br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="posts_and_video ">
<section style="" id="call-to-action2" class="wow fadeIn ">
<div  class="container">
<div class="row">
<div class="col-sm-3 col-sm-12">

    
  


{{tipe_product_one.name}}
{%for product_post in tipe_product_one.postproduct.all%}
 {{product_post.text|safe}}
  {{product_post.name}}
   {{product_post.video_link}}
{%endfor%}
</div>
</div>
</div>
</section>
</div>

{%include "write_us_wiget.html"%} 
  </main>
{%include "footer.html"%}




{% endblock %}