<!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Посмотреть курс</h3>
        </header>
        <div class="row portfolio-container">
{% for kurs in tipe_kurss %}
          <a style="margin-right: 20px;" href="{% url 'tipe_kurs_page' kurs.id %}" class="link-details" title="More Details">
          <div  class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <fgure style="height: 90%;">
                <img alt="{{kurs.name}}" title="{{kurs.name}}" src="{{kurs.image.url}}" class="img-fluid" alt="">
                
              </fgure>

              <div class="portfolio-info">
                <h4>{{kurs.name}}<!--<a href="{% url 'tipe_kurs_page' kurs.id %}">{{kurs.name}}</a>--></h4>
              </div>
            </div>
          </div>
          </a>
{%endfor %}
        </div>
      </div>
    </section><!-- #portfolio -->